@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom */
.bottom--20 {
  bottom: -20%;
}

.top--20 {
  top: -20%;
}

button:hover,
a:hover {
  background-color: #d4d4d8;
  color: #52525b;
}

/* Google Icon */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* SolidJs Transition animations*/
@keyframes rotateMenu {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.transition-rotate {
  transition: transform 0.3s linear;
  /* animation: rotateMenu 3s 50% linear; */
}

.rotate-180 {
  transform: rotate(0deg);
}

.rotate-360 {
  transform: rotate(180deg);
}

.transition-all {
  transition: all 0.3s ease-in;
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-exit-to {
  opacity: 0;
}

/* slide-top Transition component*/
.slide-top-enter-active {
  transition: all 0.3s ease-in;
}
.slide-top-exit-active {
  transition: all 0.3s ease-in;
}
.slide-top-enter,
.slide-top-exit-to {
  transform: translateY(-100%);
}

/* slide-bot Transition component*/
.slide-bot-enter-active {
  transition: all 0.3s ease-in;
}
.slide-bot-exit-active {
  transition: all 0.3s ease-in;
}
.slide-bot-enter,
.slide-bot-exit-to {
  transform: translateY(100%);
}
